.about{
    padding: 5% 8%;
    display: grid;
    gap: 5%;
    grid-template-columns: 50% 45%;
    align-items: center;
}
.about-text h3{
    font-size: 30px;
    color: rgb(122, 60, 180);
    margin-bottom: 20px;
}
.about-text p{
    margin-bottom: 15px;
}
.about-imgs{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
.big-img-box , .img-box{
    overflow: hidden;
    border-radius: 30px;
    border: 10px solid transparent;
    height: 400px;
}
.img-box{
    height: 200px;
}
.big-img-box:hover , .img-box:hover{
    border-color: rgb(122, 60, 180);
}
.big-img-box img , .img-box img{
    width: 100%;
    height: 100%;
}
.about-text ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
@media(max-width:850px){
    .about{
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 5%;
    }

}