.connect{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    
}
.connect h3{
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    color: rgb(115, 76, 151);
}
.connct-content{
    width: 90%;
    background-color: rgb(203, 194, 194);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 25px;
    overflow: hidden;
}
.connct-content form{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.connct-content form input , 
.connct-content form textarea{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
}
.connct-content form input:focus , 
.connct-content form textarea:focus{
    border-color: black;
}
.connct-content form a{
    text-align: center;
    padding: 10px;
    color: rgb(45, 22, 67);
    border: 1px solid rgb(45, 22, 67);
    border-radius: 20px;
}
.connct-content form a:hover{
    border-color: transparent;
    color: white;
    background-color: rgb(45, 22, 67);
}
.connct-content form textarea ,
.connct-content form a {
    grid-column: span 2;
}

.connect-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-image: url(../assets/imgs/connect.avif);
    color: white;
    padding: 15px;
}
.connect-text p{
    font-size: 25px;
    text-align: center;
}
.connect-text a{
    padding: 10px 20px ;
    font-size: 20px;
    color: rgb(45, 22, 67);
    border-radius: 20px;
    background-color: white;
}
.connect-text a:hover{
    background-color: rgb(45, 22, 67);
    color: white;
}

@media(max-width:768px){
    .connct-content{
        grid-template-columns: 1fr;
    }
    .connct-content form{
        grid-template-columns: 1fr;
    }
    .connct-content form textarea ,
    .connct-content form a {
        grid-column: span 1;
    }
}