footer{
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    text-align: center;
    color: white;
    background-color: rgb(122, 60, 180);
}
.footer-block h3{
    font-size: 25px;
    margin-bottom: 15px;
}
.footer-block:nth-child(2) h3{
    text-align: left;
}
.footer-block ul li a{
    color: white;
    font-size: 17px;
}
.footer-block ul li a:hover{
    color: rgb(29, 10, 29);
}
.log-btn{
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
}
.log-btn:hover{
    background-color: rgb(29, 10, 29);
    border-color: transparent;
}
@media(max-width:768px){
    .footer-block ul{
        flex-direction: column;
    }
    .footer-block:nth-child(2) h3{
    text-align: center;
    }
}