.address{
    padding: 20px 0;
    font-size: 25px;
    color: rgb(110, 78, 141);
    text-align: center;
}
.movie-row{
    padding: 30px 5%;
    margin-bottom: 20px;
}
.movie-row h3.title{
    margin-bottom: 25px;
    font-size: 25px;
    padding-bottom: 10px;
    color: rgb(146, 91, 198);
    border-bottom: 3px solid rgb(113, 77, 146);
    width: fit-content;
}
.movies{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(280px , 1fr));
    gap: 25px;
}
.movie {
    position: relative;
    padding: 15px;
}
.movie a{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50% , -50%);
    padding: 10px 20px;
    color: rgb(21, 10, 32);
    border-radius: 20px ;
    opacity: 0;
    background-color: white;
}
.movie:hover a{
    opacity: 1;
}
.movie a:hover{
    background-color: rgb(21, 10, 32);
    color: white;
}
.movies .movie img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}
.movie:hover{
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(21, 10, 32);
}
