@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    font-family: "Quicksand", sans-serif;
    transition: all .4s;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    display: flex;
    gap: 25px; 
    list-style: none;
}
.dark-mode{
    background-color: rgb(57, 57, 57);
}
.dark-mode p{
    color: white;
}
