.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imgs/login.avif);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container i{
    position: absolute;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.login , .signup{
    padding: 20px;
    background-color: rgb(246, 232, 232);
    border-radius: 20px;
    width: 600px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

.login form , .signup form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.login  h3, .signup  h3{
    text-align: center;
    font-size: 25px;
    color: rgb(34, 8, 34);
}
.login form input , .signup form input{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
}
.login form input:focus , .signup form input:focus{
    border-color: black;
}
.login form a , .signup form a{
    padding: 10px 20px; 
    text-align: center;
    color: rgb(34, 8, 34);
    border-radius: 20px;
    border: 1px solid rgb(34, 8, 34);
}
.login form a:hover , .signup form a:hover{
    background-color: rgb(34, 8, 34);
    color: white;
}
.login div , .signup div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login div a , .signup div a {
    color: black;
}
.login div a:hover , .signup div a:hover {
    text-decoration: underline;
}
@media(max-width:768px){
    .login , .signup{
        width: 90%;
    }
}