i.top-btn{
    position: fixed;
    bottom: 20px;
    right: -200px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(16, 5, 25);
    cursor: pointer;
}
i.top-btn.active{
    right: 20px;
}